html {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
}
.main {
	width: 100%;
	height: auto;
	margin-top: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-container {
	width: 1000px;
}

.text-container__title {
	text-align: center;
	font-size: 3rem;
	font-weight: 200;
}

.text-container__description {
	font-size: 1.4rem;
	font-weight: 300;
}

.input-container__input {
	display: block;
	margin: 0 auto;
	height: 24px;
	width: 300px;
	padding: 5px;
	font-size: 1.2em;
}

.output-container {
	width: 1000px;
}

.output-container__list,
.output-container__lat-match {
	width: 80%;
	margin: 40px auto;
	padding: 0;
	list-style: none;
	font-size: 1.2rem;
	font-weight: 200;
}

li span {
	display: inline-block;
	width: 30%;
}

li:hover {
	background-color: aquamarine;
	cursor: pointer;
}